port: 5000

storage:
  type: s3                            # Options: "s3" or "gcs"
  endpoint: https://s3.amazonaws.com  # Optional: custom endpoint URL
  bucket: helm-oci-proxy              # Bucket name
  region: ap-southeast-1              # Region (for S3)

# List of Helm repositories to proxy
repositories:
  - url: https://argoproj.github.io/argo-helm
    prefix: argo
  - url: https://charts.jetstack.io
    prefix: jetstack